

<section id="profile-info">
  <div class="container" id="profile-header">
    <h1>Welcome, <%= @user.first_name %>!</h1>
    <%= link_to "Edit Profile", edit_user_path(current_user), class: 'btn'%>
  </div>
</section>

<section id="week-tracker" class="container">
  <h3>Weekly Tracker</h3>
  <ul>
    <li class="row">
      <div class="col s5">
        <p>Task</p>
      </div>
      <div class="col s1">
        <p>Mon</p>
      </div>
      <div class="col s1">
        <p>Tue</p>
      </div>
      <div class="col s1">
        <p>Wed</p>
      </div>
      <div class="col s1">
        <p>Thu</p>
      </div>
      <div class="col s1">
        <p>Fri</p>
      </div>
      <div class="col s1">
        <p>Sat</p>
      </div>
      <div class="col s1">
        <p>Sun</p>
      </div>
    </li>

    <% @week_collection.each do |week| %>
      <li>
        <div class="col s5">
          <h4><%=week[:habit].title%> </h4>
          <%=link_to "show", show_habit_path(week[:habit]), class: "btn"%>

        </div>
        <div class="col s1">
          <% if week[:week_days].include?(1) %>
            <i class='material-icons dp48'>check</i>
          <% end %>
        </div>
        <div class="col s1">
          <% if week[:week_days].include?(2) %>
            <i class='material-icons dp48'>check</i>
          <% end %>
        </div>
        <div class="col s1">
          <% if week[:week_days].include?(3) %>
            <i class='material-icons dp48'>check</i>
          <% end %>
        </div>
        <div class="col s1">
          <% if week[:week_days].include?(4) %>
            <i class='material-icons dp48'>check</i>
          <% end %>
        </div>
        <div class="col s1">
          <% if week[:week_days].include?(5) %>
            <i class='material-icons dp48'>check</i>
          <% end %>
        </div>
        <div class="col s1">
          <% if week[:week_days].include?(6) %>
            <i class='material-icons dp48'>check</i>
          <% end %>
        </div>
        <div class="col s1">
          <% if week[:week_days].include?(0) %>
            <i class='material-icons dp48'>check</i>
          <% end %>
        </div>
      </li>
    <% end %>

  </ul>
  <button data-target="new-habit-modal" id="new-habit-button" class="btn btn-large modal-trigger">Add habit</button>
  
</section>
<%= render 'new_habit' %>
