<!DOCTYPE html>
<html>
  <head>
    <title>HabitHero</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Habit Hero</a>
        <%= link_to "Habit Hero", root_path, class: 'brand-logo' %>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to "Daily Tracker", daily_tracker_path%></li>
            <li><%= link_to "Your Profile", user_path %></li>
            <li><%= link_to "Donation", new_charge_path%></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Donation", new_charge_path%></li>
            <li><%= link_to "Sign Up ", new_user_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
        <ul class="slide-nav" id="mobile-nav">
          <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
            <li><%= link_to "HabitHero", habits_path%></li>
          <% else %>
            <li><%= link_to "Sign Up ", new_user_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>
    <% flash.each do |name, msg| %>
    <div id="flash-message" class="<%= name %>">
      <div class="container">
        <p>
          <%= name.capitalize %>: <%= msg %>
        </p>
      </div>

    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
