<h4>Edit Habit</h4>
<%= form_with scope: :habit, url: update_habit_path(@habit), method: :put do |form| %>
<label>Title:</label>
<%= form.text_field :title%>
<label>Description</label>
<%= form.text_area :description%>
<label>WeeklyGoal</label>
<%= form.text_area :weekly_goal%>


<%= form.submit "Update habit" %>
<% end%>
