<section id="day-tracker" class="container">
	<h1>Daily Tracker</h1>
	<ul>
		<li class="row">
			<div class="col s8">
				<h3>Task</h3>
			</div>
			<div class="col s4">
				<h3>Completed</h3>
			</div>
		</li>
		<% @habits.each_with_index do |habit, i|%>

		<li class="row">
			<div class="col s8">
				<h4><%= habit[:habit_obj].title%></h4>
				<button><%=link_to "show", show_habit_path(habit[:habit_obj])%></button>
			</div>
			<div class="col s4">
				<% if !habit[:completed]%>
					<%= form_with scope: :logged_habit, id: "habit_check#{i}",url: "/logged_habits" do|f|%>
						<div>
							<%= f.hidden_field :habit_id, value: "#{habit[:habit_obj].id}"%>
						</div>
						<div>
							<%= f.check_box :checkbox, id: "#{i}",  :onclick => "javascript: document.getElementById('habit_check#{i}').submit();"%>
							<label for="<%=i%>"></label>
						</div>
					<% end %>
				<% else %>
					<input disabled type="checkbox" id="test5" checked/>
      		<label for="test5">Completed</label>
				<% end %>
			</div>
		</li>
		<% end %>
	</ul>
</section>

<div class="container">

</div>

<button data-target="new-habit-modal" id="new-habit-button" class="btn modal-trigger">Modal</button>
<%= render 'new_habit' %>